@using Microsoft.AspNet.Identity
@using MyEthBook.Services.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/kinetic")
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    @Scripts.Render("~/bundles/sha256")
    @Scripts.Render("~/bundles/kinetic")
    @Scripts.Render("~/bundles/contract")
    <script type="text/javascript">
        const documentRegistryContractAddress = '@ContractData.Address';
        const documentRegistryContractABI =@Html.Raw(ContractData.ABI);
        console.log(documentRegistryContractAddress, documentRegistryContractABI);
        createContract(documentRegistryContractAddress, documentRegistryContractABI);
    </script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="ct" id="t1">
        <div class="ct" id="t2">
            <div class="ct" id="t3">
                <div class="ct" id="t4">
                    <section>
                        <ul>
                            <a href="/"><li class="icon fa fa-home" id="uno"></li></a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/ethbook"><li class="icon fa fa-heart"></li></a>
                                <a href="/manage"><li class="icon fa fa-user"></li></a>
                            }

                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right no-float" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><li class="icon fa fa-remove" id="tres"></li></a>
                                }
                            }
                            else
                            {
                                <a href="#">
                                    <li>@Html.ActionLink(" ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "icon fa fa-envelope-o" })</li>
                                </a>
                                <a href="#">  <li>@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "icon fa fa-user" })</li></a>

                            }
                        </ul>

                        @RenderSection("styles", required: false)
                        @RenderBody()

                        <p class="credit">
                            Copyright &copy; 2018 MyEthBook
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
