@using MyEthBook.Client.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="page p4" id="p1">
    <li class="icon fa fa-user">
        <span class="title">Log In</span>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="font-size:20px !important;">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "contact", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <p>Please make sure you have MetaMask installed and account imported.</p>
                        <hr />
                        <input type="hidden" id="mmaddress" name="mmaddress" />
                        <div class="col-md-12">
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger validation-summary" })
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset id="p4">
                                <button type="submit" value="Log in" id="form-submit" class="btn">Log In</button>
                            </fieldset>
                        </div>
                    }
                </div>

                <div class="col-md-6" style="font-size:20px !important;background-color:white;">
                    <div class="right-info">
                        <p>
                            <img src="~/img/metamask.png" style="width:73px;" />
                        </p>
                        <hr style="border-top: 1px solid #5c6ea3;" />
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/login")
}