@model MyEthBook.Client.Models.EthBookViewModel
@{
    ViewBag.Title = "Index";
    int counter = 0;
}

@section Styles {
    @Styles.Render("~/Content/popup")
}

<div id="edit-address-popup-form" data-index class="white-popup mfp-hide">

    <div class="col-md-12">
        <fieldset id="p4">
            <input type="text" name="name" id="edit-name-text" placeholder="name" />
            <input type="text" name="address" id="edit-address-text" placeholder="address" />
            <input type="hidden" name="index" id="edit-index-text" />
            <button type="submit" value="Save" id="save-edit-addr" class="btn">Save</button>
            <br />
            <a id="trans-result-check" target="_blank"></a>
        </fieldset>
    </div>
</div>

<div id="transaction-popup" data-index class="white-popup mfp-hide">
</div>

<div class="page p4" id="p1">
    <li class="icon fa fa-heart">
        <span class="title">My EthBook</span>
        <div class="container">
            <div class="row">
                <input type="hidden" id="refLink" value="@Model.RefLink" />
                @if (Model.UserUnlocked)
                {
                    <div class="col-md-6" style="font-size:20px !important;text-align:left;">
                        <table id="addr-list" class="table table-striped" cellspacing="0">
                            @foreach (var ca in Model.ContactAddresses)
                            {
                                if (!string.IsNullOrEmpty(ca.Name) && ca.Address != "0x0000000000000000000000000000000000000000") // deleted data
                                {
                                    <tr>
                                        <td class="ca-name">@ca.Name</td>
                                        <td class="ca-addr">@ca.Address</td>
                                        <td>
                                            <a href="#edit-address-popup-form" class="open-popup-link edit-address-contact" data-index="@counter"><span class="fa-pencil-square"></span></a>
                                            <a href="#" class="delete-address-contact" data-index="@counter"> <span class="fa-trash-o"></span></a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="ca-name">Empty</td>
                                        <td class="ca-addr"></td>
                                        <td>
                                            <a href="#edit-address-popup-form" class="open-popup-link edit-address-contact" data-index="@counter"><span class="fa-pencil-square"></span></a>
                                            <a href="#" class="delete-address-contact" data-index="@counter"> <span class="fa-trash-o"></span></a>
                                        </td>
                                    </tr>
                                }
                                counter++;
                            }
                        </table>
                    </div>
                    <div class="col-md-6" style="font-size:20px !important;background-color:transparent !important;">
                        <p style="margin: 20px 0% 20px 0%;">

                            <div class="col-md-12">
                                <fieldset id="p4">
                                    <input type="hidden" id="mmaddress" name="mmaddress" />
                                    <input type="text" name="name" id="name" placeholder="name" />
                                    <input type="text" name="address" id="address" placeholder="address" />
                                    <button type="submit" value="Add" id="add-addr" class="btn">Add</button>
                                </fieldset>
                            </div>
                            <br />
                            <a id="result-check" target="_blank"></a>
                        </p>
                    </div>
                }
                else
                {
                    <p>Please send 0.005eth to unlock your account first:</p>
                    <p style="margin: 20px 0% 20px 0%;">

                        <div class="col-md-12">
                            <fieldset id="p4">
                                <button type="submit" value="Upload" id="unlock-account" class="btn"><i class="fa fa-cloud-upload"></i> Send Ether</button>
                                <span class="init-user">
                                    <br />
                                    @if (Model.Init)
                                    {
                                        <text>
                                            or wait for at least 2 friends to register under your referal link.
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            or <a href="#" id="init-user"> INIT </a> for referal link and bring at least 2 friends.
                                        </text>
                                    }
                                </span>
                            </fieldset>
                        </div>
                        <span><a id="result-check-unlock" target="_blank"></a></span>
                    </p>
                }

            </div>
        </div>
    </li>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/popup")
    @Scripts.Render("~/bundles/ethbook")
}
