@using Microsoft.AspNet.Identity
@model MyEthBook.Client.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="page p4" id="p1">
    <li class="icon fa fa-user">
        <span class="title">My Account</span>
        <div class="container" style="font-size:15px;">
            <div class="row">
                <p>Change your account settings</p>
                <hr />
                @ViewBag.StatusMessage

                <div class="col-md-6" style="font-size:20px !important;text-align:left;">
                    <dl class="dl-horizontal">
                        <dt>Avatar:<br />[ stored IPFS ]</dt>
                        <dd>
                            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)


                                    <label for="file-upload" class="custom-file-upload">

                                        @if (!string.IsNullOrEmpty(Model.Avatar))
                                        {
                                            <img src="@("https://ipfs.io/ipfs/" + Model.Avatar)" width="100" />
                                        }
                                        <span class="browse">Browse</span>
                                    </label>
                                    <input id="file-upload" type="file" value="avatar" name="avatar" />

                                    <div class="col-md-12">
                                        <fieldset id="p4">
                                            <button type="submit" value="Upload" id="form-submit" class="btn"><i class="fa fa-cloud-upload"></i> Upload</button>
                                        </fieldset>
                                    </div>
                                </div>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6" style="font-size:17px !important;">
                    <dl class="dl-horizontal">
                        <dt>Email:</dt>
                        <dd>@User.Identity.GetUserName()</dd>
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                        <dt>Current Address:</dt>
                        <dd>
                            @Model.Address
                        </dd>
                        <dt>Init:</dt>
                        <dd>
                            @Model.Init
                        </dd>
                        <dt>Ref Link:</dt>
                        <dd>
                            @if (Model.Init)
                            {
                                <a class="href-white" href="@("/Account/Register?reflink=" + Model.RefLink)">@Model.RefLink</a>
                            }
                            else
                            {
                                @("Must init first")
                            }
                        </dd>
                        @if (Model.Init)
                        {
                            <dt>Invite friend</dt>
                            <dd>
                                @using (Html.BeginForm("SendInvitation", "Manage", FormMethod.Post, new { id = "form-ivitation", enctype = "multipart/form-data" }))
                                {
                                    <div class="form-horizontal">
                                        <input type="text" placeholder="email@example.com" name="Email" id="Email" />
                                        <input type="submit" value="Send" id="send-invitation-btn" />
                                    </div>
                                }
                            </dd>
                            <dt>Invited Count:</dt>
                            <dd>
                                <span id="invited-count"></span>
                            </dd>
                        }
                        <dt>Accepted Count:</dt>
                        <dd>
                            @Model.RefCount
                        </dd>
                        <dt>Unlocked:</dt>
                        <dd>
                            @Model.Unlocked
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </li>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/my-account")
}