@model MyEthBook.Client.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



@*<p class="text-success"></p>*@

<div class="page p4" id="p1">
    <li class="icon fa fa-user">
        <span class="title">My Account</span>
        <div class="container" style="font-size:15px;">
            <div class="row">
                <p>Change your account settings</p>
                <hr />
                @ViewBag.StatusMessage

                <div class="col-md-6" style="font-size:20px !important;text-align:left;">
                    <dl class="dl-horizontal">
                        <dt>Avatar:<br />Stored in the InterPlanetary File Syste</dt>
                        <dd>
                            @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)


                                    <label for="file-upload" class="custom-file-upload">

                                        @if (!string.IsNullOrEmpty(Model.Avatar))
                                        {
                                            <img src="@("https://ipfs.io/ipfs/" + Model.Avatar)" width="100" />
                                        }
                                        <span class="browse">Browse</span>
                                    </label>
                                    <input id="file-upload" type="file" value="avatar" name="avatar" />

                                    @*<input type="file" value="avatar" name="avatar" class="" />*@

                                    <div class="col-md-12">
                                        <fieldset id="p4">
                                            <button type="submit" value="Upload" id="form-submit" class="btn"><i class="fa fa-cloud-upload"></i> Upload</button>
                                        </fieldset>
                                    </div>
                                </div>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6" style="font-size:20px !important;">
                    <dl class="dl-horizontal">
                        <dt>Current Address:</dt>
                        <dd>
                            @Model.Address
                        </dd>
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                        <dt>2FA:</dt>
                        <dd>
                            Scedulled at Version 2
                            @*There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.*@
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </li>
</div>
